@media screen and (max-width: 889px) {  
  #friend-sidebar {
    display: none !important;
  }
   }

@media screen and (max-width: 1899px) {  
  #app-body {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10% 0 10%;
  }
   }

@media screen and (min-width: 1900px) {  
  #app-body {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 20% 0 20%;
  }
   }

#account-button-container {
  display: flex;
}

.main-map {
  align-self: center;
  border-radius: 12px;
  display: flex;
  height: 50vh;
  margin: 8px;
  width: 50vw;
}

.confirmation-map {
  border-radius: 12px;
  height: 250px;
  width: 100%;
}

#header {
  align-items: center;
  background-color: #f7f3f1;
  box-shadow: 0 2px 8px #f7f3f1;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

#header p {
  margin: 0 3vw 0 0 !important;
}

#logo-svg {
  height: 75px;
  margin: 0 0 0 3vw;
}

#logo-container {
  align-items: center;
  display: flex;
}

#logo-text {
  color: #690303;
  font-family: Together Sans;
  font-weight: bold;
  margin: 0 0 0 1vw;
}

#search-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 1.25vw 1.25vw 0.5vw;
}

.account-center-image {
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.info-window {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.offcanvas-body {
  align-items: center;
  background-color: #f7f3f1;
  display: flex;
  flex-direction: column;
}

.offcanvas-header {
  background-color: #f7f3f1;
}

.post-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  padding: 0 16px 16px 16px;
}

.post-footer-button {
  height: 32px;
  margin: 2px;
  width: 32px;
}

.post-footer-button:hover {
  cursor: pointer;
}

.avatar-button {
  border-radius: 50%;
  height: 50px;
  margin: 0 3vw 0;
  width: 50px;
}

.avatar-button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  background-color: #f7f3f1;
}

.modal-footer {
  background-color: #f7f3f1 !important;
}

.modal-header {
  background-color: #f7f3f1;
}

.modal-title.h4 {
  color: #31101c;
  font-weight: bold;
}

.sign-up-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thumbnail {
  border-radius: 50%;
  height: 50px;
  margin: 8px 8px;
  width: 50px;
}

@font-face {
  font-family: Together Sans;
  src: url("./Manrope-VariableFont_wght.ttf");
}

label {
  color: #31101c;
  font-weight: bold;
}

input[type="file"] {
  color: #31101c;
  font-weight: bold;
}

#search-button {
  height: 50px;
  width: 50px;
}

#search-button:hover {
  cursor: pointer;
}

#sign-in-up-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  margin: 2vw 0 0 0;
}

body {
  font-family: Together Sans !important;
}

#sign-in-link {
  color: #690303;
  font-size: x-large;
  font-weight: bold;
  margin: 0 3vw 0 0;
}

#sign-in-link:hover {
  cursor: pointer;
}

#signed-out-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#friends-header {
  color: #f7f3f1;
  font-size: x-large;
  margin: unset !important;
}

.friend-bubble-card {
  align-items: center;
  border-radius: 8px;
  color: #f7f3f1;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 75px;
  margin: unset;
  padding: 0 8px;
  width: 100%;
}

.friend-bubble-card:hover {
  background-color: hsl(20, 27%, 96%, 0.3);
  cursor: pointer;
}

.search-default-card {
  align-items: center;
  border-radius: 8px;
  color: #31101c;
  display: flex;
  flex-direction: row;
  height: 75px;
  padding: 0 8px;
  width: 100%;
}

.search-default-card:hover {
  background-color: hsl(338, 51%, 13%, 0.3);
  cursor: pointer;
}

.search-default-card h6 {
  margin: unset !important;
}

.friend-button {
  border-radius: 50%;
  height: 50px;
  margin: 0 16px 0;
  width: 50px;
}

.friend-button:hover {
  cursor: pointer;
}

#friend-sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 32px;
  width: 35%;
}

#timeline {
  align-items: center;
  color: #f7f3f1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-post {
  display: flex;
  flex-direction: column;
}

.post-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 8px 8px 0 8px;
  width: 80%;
}

.post-header h1 {
  color: #690303;
  font-size: large;
  font-weight: bold;
  margin: unset;
}

.post-text h1 {
  color: #690303;
  font-size: large;
  font-weight: bold;
}

.post-image {
  aspect-ratio: 1/1;
  margin: 16px 0 0 0;
  object-fit: cover;
  width: 95%;
}

.post-text {
  color: #690303;
  margin: 16px 16px 16px 20px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-container {
  background-color: #f7f3f1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 0 8px 0;
  width: 80%;
}

#posts-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 18px 0 0 0;
  width: 100%;
  height: 100vh;
}

.post-image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.messages-client-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.messages-header-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.messages-header-avatar:hover {
  cursor: pointer;
}

.messages-client-header h1 {
  color: #690303;
  font-size: large;
  font-weight: bold;
  margin: 0 0 0 16px;
  margin: unset;
}

/* p {
  margin: 8px 0 8px 0 !important;
} */

.message-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.send-button:hover {
  cursor: pointer;
}

.sent-message-bubble {
  background-color: #690303;
  border-radius: 8px;
  color: #f7f3f1;
  display: flex;
  font-weight: bold;
  max-width: fit-content;
  padding: 8px;
}

.received-message-bubble {
  background-color: #e19292;
  border-radius: 8px;
  color: #690303;
  display: flex;
  font-weight: bold;
  max-width: fit-content;
  padding: 8px;
}

.received-message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sent-message-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#post-maker-input-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  
  /*  */
}

#post-maker-container {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

#post-maker-container h2 {
  color: #31101c;
  font-size: x-large;
  font-weight: bold;
  margin: unset;
}

#post-maker-input-container h2 {
  align-self: center;
  color: #31101c;
  font-size: x-large;
  font-weight: bold;
  margin: unset;
}

#post-maker {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 16px;
  border: 2px solid #d1be5e;
  color: #31101c;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  padding: 0 12px;
  text-align: center;
}

.together-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 16px;
  border: 2px solid #d1be5e;
  color:#f7f3f1;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  padding: 0 12px;
  text-align: center;
}

#post-maker-button-container {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
}

#post-maker-button-container:hover {
  background-color: hsl(0, 57%, 73%, 0.5)
}

#timeline h2 {
  font-size: x-large;
}

#profile-identifiers {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px 0 16px 16px;
}

#profile-header p {
  margin: unset !important;
}

#profile-names {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#profile-header h1 {
  font-size: x-large;
  font-weight: bold;
  margin: unset;
}

#profile-header {
  align-items: center;
  border-bottom: 1px solid #f7f3f1;
  display: flex;
  flex-direction: column;
  padding: 16px 0 16px 0;
  width: 100%;
}

#profile-container {
  align-items: center;
  border-left: 1px solid #f7f3f1;
  border-right: 1px solid #f7f3f1;
  color: #f7f3f1;
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
  margin: 16px 0 0 0;
  width: 100%;
}

#post-photo-preview-container {
  display: flex;
}

.photo-post-preview {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
  width: 100%;
}

#my-account-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

#significant-other-sidebar-container {
  display: flex;
  flex-direction: column;
  margin: 16px 32px 0 0;
}

#search-show-all {
  color: #31101c;
  text-decoration: underline;
}

#search-show-all:hover {
  cursor: pointer;
}

.like-card {
  align-items: center;
  background-color: hsl(20, 27%, 96%, 0.75);
  border-radius: 30px;
  color: #31101c;
  display: flex;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  width: fit-content;
}

/* #likes-container {
  align-items: center;
  border-radius: 24px;
  border: 1px solid #f7f3f1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
  margin: 0 20% 0 20%;
  max-height: fit-content;
  padding: 16px;
} */

#relationship-board-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
  width: 80%;
}

.opinions-container {
  align-items: center;
  border-radius: 24px;
  border: 1px solid #f7f3f1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
  margin: 0 20% 0 20%;
  max-height: fit-content;
  padding: 16px;
}

#dislikes-header h1 {
  color: #f7f3f1;
  font-size: x-large;
  font-weight: bold;
}

#likes-header h1 {
  color: #f7f3f1;
  font-size: x-large;
  font-weight: bold;
}

#likes-header {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#likes-header h1 {
  margin: unset !important;
}

#dislikes-header {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#dislikes-header h1 {
  margin: unset !important;
}

.opinion-delete-button {
  height: 24px;
  width: 24px;
}

.opinion-delete-button:hover {
  cursor: pointer;
}

.dislike-card {
  align-items: center;
  background-color: hsl(20, 27%, 96%, 0.75);
  border-radius: 30px;
  color: #690303;
  display: flex;
  flex-direction: row;
  font-size: large;
  font-weight: bold;
  gap: 8px;
  justify-content: center;
  padding: 8px;
  width: fit-content;
}

#relationship-board-title {
  align-self: center;
  color: #f7f3f1;
  font-size: x-large;
  font-weight: bold;
  margin: unset !important;
}

#dates-title {
  align-self: center;
  color: #f7f3f1;
  font-size: x-large;
  font-weight: bold;
  margin: unset !important;
}

#dates-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

#relationship-board-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.opinion-add-button {
  height: 24px;
  width: 24px;
}

.opinion-add-button:hover {
  cursor: pointer;
}

time {
  color: #31101c;
  font-size: small;
}

.post-button {
  height: 32px;
  margin: 2px;
  width: 32px;
}

.post-button:hover {
  cursor: pointer;
}

.post-button-container {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 16px 16px 0 0;
  width: 20%;
}

.post-header-container {
  display: flex;
  width: 100%;
}

.edit-modal-pfp {
  border-radius: 50%;
  height: 50px;
  margin: 0 16px 0 0;
  width: 50px;
}

.edit-modal-text {
  background-color: transparent;
  border: none;
  color: #31101c;
  margin: 8px 0 0 0;
  outline: none;
  resize: none;
}

.comment-input {
  width: 100%;
}

.send-button {
  height: 48px;
  margin: 0 2% 0 3%;
  padding: 4px 8px;
  width: 48px;
}

p {
  margin: unset !important;
}

.send-button:hover {
  background: #ebe4e1;
  border-radius: 50%;
  cursor: pointer;
}

.comment-input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.comment-container {
  border-top: 1px solid #31101c;
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 0;
  width: 100%;
}

.comment-header {
  align-items: center;
  color: #690303;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.comment-header-container {
  display: flex;
  justify-content: space-between;
}

.comment-header p {
  font-weight: bold;
  margin: 0 8px 0 0;
}

.comment-text {
  color: #690303;
  margin: 16px 0 0 16px;
}

.comment-footer {
  padding: 0 0 16px 0;
}

.delete-comment-button {
  height: 48px;
  padding: 8px;
  width: 48px;
}

.delete-comment-button:hover {
  background: #ebe4e1;
  border-radius: 50%;
  cursor: pointer;
}

.delete-comment-button-container {
  display: flex;
  justify-self: flex-end;
}

.info-window-text {
  margin: unset !important;
}

.date-card {
  background-color: #f7f3f1;
  border-radius: 8px;
  color: #31101c;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  width: fit-content;
}

#date-cards-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin: 16px;
  width: 80%;
}

.date-card-text {
  align-self: center;
  margin: unset !important;
}

.date-card-button {
  height: 24px;
  width: 24px;
}

.date-card-button:hover {
  cursor: pointer;
}

.date-card-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

#your-dates-with {
  color: #f7f3f1;
  font-size: x-large;
  font-weight: bold;
}

#go-back-from-dates {
  background-color: #f7f3f1;
  border-radius: 12px;
  color: #31101c;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 15%;
  justify-content: center;
  margin: 16px;
  width: 20%;
}

#go-back-from-dates:hover {
  cursor: pointer;
}

#go-back-from-dates h1 {
  margin: unset !important;
}

.milestone-card {
  align-items: center;
  background-color: #f7f3f1;
  border-radius: 12px;
  border: 1px solid #31101c;
  color: #31101c;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
}

.milestone-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 8px 0 0;
}

.milestone-text {
  margin: unset !important;
}

#relationship-timeline-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 0 8px 0;
}

.relationship-timeline-title {
  margin: unset !important;
}

#relationship-timeline-container {
  align-items: center;
  border-bottom: 1px solid #f7f3f1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  width: 100%;
}

.milestone-delete-button {
  height: 18px;
  width: 18px;
}

.milestone-delete-button:hover {
  cursor: pointer;
}

.sidebar-button {
  height: 18px;
  width: 18px;
}

.sidebar-button:hover {
  cursor: pointer;
}

#significant-other-sidebar-header {
  align-items: center;
  display: flex;
  gap: 8px;
}

.relationship-timeline-show-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.full-relationship-timeline-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-metrics-text {
  color: #31101c;
  margin: unset;
}

#map-spinner {
  align-self: center;
  display: flex;
}

.show-all-opinions {
  color: #f7f3f1;
  margin: unset;
}

.show-all-opinions:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-opinions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

time {
  margin: 0 0 0 8px;
}

#search-header {
  font-size: large;
  font-weight: bold;
}

.modal-footer > .together-button {
  color:#31101c !important;
}

.password-input {
  width: 100%;
}